*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  padding: 133px 30px;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 

/* Button */

.button {
  width: 100%;
  padding: 6px 0;
  border: 1px solid #FFF;
  background-color: transparent;
  color: #fff;
  font-size: 18px;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}

/* Title */

.title {
  margin-bottom: 26px;
  font-family: "Oswald", sans-serif;
  font-size: 75px;
  text-transform: uppercase;
  line-height: 1;
  font-weight: 700;
}

 /* Content__list */

.content {
  display: flex;
  column-gap: 30px;
  margin: auto;
  align-items: flex-end;
}

.content__accent {
  color: #545050;
}

.content__list {
  block-size: 298px;
  overflow-y: scroll;
  position: relative;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__card-link {
  text-decoration: none;
  display: block;
}

.content__details {
  min-inline-size: 399px;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2px;
}

.content__video-card__active {
  /* для активной карточки */
  background-color: #545050;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  flex-shrink: 0;
}

.content__video-card-description-container {
  color: #fff;
  overflow: hidden;
  margin-right: 5px;
}

.content__video-card-description {
  line-height: 0.9;
  font-weight: 400;
}

.content__video-card-title {
  margin-bottom: 6px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* Result */
.result {
  
}

.result__video-container {
  margin-bottom: 16px;
  inline-size: 711px;
  position: relative;
}

.result__video {
  inline-size: 100%;
  display: block;
}

/* Search */

.search-form {
  display: flex;
  column-gap: 40px;

}

.search-form__fieldset {
  border: none;
  flex-grow: 1;
}

.search-form__submit-button {
  max-width: 194px;
  align-self: self-end;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 5px;
}

.search-form__textfield {
  min-width: 225px;
  height: 27px;
  font-weight: 400;
  font-size: 18px;
  background-color: transparent;
  font-family: 'Fira Sans Condensed', sans-serif;
  color: #FFF;
  border: none;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  appearance: none;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.70);
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__checkbox-list {
  display: flex;
  column-gap: 15px;
}

.search-form__label {
  display: flex;
  align-items: center;
  column-gap: 5px;
  cursor: pointer;
}

.search-form__label:hover {
  text-decoration: underline;
  text-underline-offset: 10px;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__pseudo-checkbox {
  display: inline-flex;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
}

.search-form__checkbox:checked +
.search-form__pseudo-checkbox::before {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  margin: auto;
  background-color: #FFF;
}
